.pay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.pay.activepay {
    display: flex;
}

.pay .pay-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 55%;
    border-radius: 12px;
    background: aliceblue;
    text-align: center;
    padding: 20px 20px;
    position: relative;
}

@media (max-width: 1200px) {
    .pay .pay-box {
        width: 50%;
        height: 65%;
    }
}

@media (max-width: 1095px) {
    .pay .pay-box {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 795) {
    .pay .pay-box {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 500px) {
    .pay .pay-box {
        width: 100%;
        height: 90%;
        margin: 20px 20px;
    }

}

.pay .pay-box .Qi-cart {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    /* border: 1px solid rebeccapurple; */

}

.pay .pay-box .Qi-cart span {
    font-size: 30px;
    /* border: 1px solid royalblue; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pay .pay-box .Qi-cart h3 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bdd4cc;
    border-start-end-radius: 9px;
    border-start-start-radius: 9px;
}
.pay .pay-box .box_center_checkout{
    height: 100%;
    width: 100%;
    /* border: 1px solid sandybrown; */
    display: flex;
}

.pay .pay-box .box_center_checkout .checkout_left{
    /* border: 1px solid blue; */
    width: 50%;
    margin: 5px 5px;
    font-size: 15px;

}
.pay .pay-box .box_center_checkout .checkout_right{
    /* border: 1px solid blue; */
    /* overflow: hidden; */

    width: 50%;
    margin: 5px 5px;
}
.pay .pay-box .box_center_checkout .checkout_left .checkout_NameFull{
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: center;

}
.pay .pay-box .box_center_checkout .checkout_left .checkout_NameFull .Namefull_label{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.pay .pay-box .box_center_checkout .checkout_left .checkout_NameFull .Namefull_label .name-all{
    width: 90%;
    text-align: start;

}
.pay .pay-box .box_center_checkout .checkout_left .checkout_NameFull .Namefull_label input{
    width: 90%;
}

.pay .pay-box .box_center_checkout .checkout_left .checkout_all_input{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pay .pay-box .box_center_checkout .checkout_left .checkout_all_input .col-ed{
    width: 95%;
    text-align: start;
}
.pay .pay-box .box_center_checkout .checkout_left .checkout_all_input input{
    width: 95%;

}
.pay .pay-box .box_center_checkout .checkout_right .checkuot_products{
    display: flex;
    width: 100%;
    height: 15%;
    /* border: 1px solid red; */
}
.pay .pay-box .box_center_checkout .checkout_right .checkuot_products .sol_rt1{
    width: 100%;
    height: 100%;
    /* border: 1px solid blueviolet; */
}
.pay .pay-box .box_center_checkout .checkout_right .checkuot_products .sol_rt1 p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 2px;
    /* border-bottom: 1px solid black; */

}
.pay .pay-box .box_center_checkout .checkout_right .checkuot_products .sol_rt2{
    width: 100%;
    height: 100%;
    background: rgb(26, 25, 25);
    margin: 0px 1px;
    /* border: 1px solid blueviolet; */
}
.pay .pay-box .box_center_checkout .checkout_right .checkuot_products .sol_rt2 p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;

}
.pay .pay-box .cart-buynow {
    width: 100%;
    margin: 20px 10px;
}

.pay .pay-box .cart-buynow button {
    padding: 7px 60px;
    border: none;
    border-radius: 5px;
    background: #9ca09f;
    font-size: 20px;
    color: #fff;
}

.pay .pay-box .cart-buynow button:hover {
    background: #6b6868;
}

.pay .pay-box .btn-ult {
    position: absolute;
    top: 0;
    right: 0;
}

.pay .pay-box .btn-ult button {
    padding: 0px 8px;
    font-size: 20px;
    margin: 5px 5px;
    border: none;
    background: none;
}
